PORT=8000
MONGO_URI = mongodb://localhost:27017/shopnest-mern
JWT_SECRET=your_jwt_secret_key_jsddijdd

EMAIL_PASS=gamil@gmail.com
EMAIL_USER=16digitpassword

CLOUDINARY_API_KEY=signup_data
CLOUDINARY_API_SECRET=signup_data
CLOUDINARY_CLOUD_NAME=signup_data